<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.barbuzz.appwidget" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".app.DevWidgetApp">

        <activity
            android:name=".configure.ConfigureActivity"
            android:label="@string/widget_configure"
            android:theme="@style/Theme.DevWidget.Configure"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="configure"
                    android:scheme="devwidget" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="settings"
                    android:scheme="devwidget" />
            </intent-filter>
        </activity>

        <activity
            android:name=".data.updater.StopWidgetRefreshActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <service
            android:name=".widget.WidgetViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.click.ClickHandlingActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.click.WidgetRefreshActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.click.HeaderOptionsActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:noHistory="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.Translucent" />

        <activity
            android:name=".widget.chooser.ActivityChooserActivity"
            android:documentLaunchMode="never"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:relinquishTaskIdentity="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DevWidget.BottomSheet" />

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <receiver android:name=".configure.WidgetPinnedReceiver" />

        <service android:name=".data.updater.WidgetRefreshService" />
        <service
            android:name=".data.updater.WidgetRefreshRescheduleJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".data.updater.PackageAddedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".data.updater.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name=".data.updater.PowerSaveChangedReceiver">
            <intent-filter>
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
