<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.barbuzz.snippet" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity android:name=".ui.SnippetActivity" />

        <receiver android:name=".service.AutoStartSnippetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.SnippetTextAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".service.OverlaySnippetPasteService"
            android:exported="false" />
    </application>

</manifest>
