<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.barbuzz.devtiles" >

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.ToggleKeepScreenOnService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_toggle_keep_screen_on"
            android:label="@string/label_keep_screen_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ToggleShowTapsService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_toggle_show_taps"
            android:label="@string/label_toggle_show_touches"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ToggleDemoModeService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_toggle_demo_mode"
            android:label="@string/label_toggle_demo_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ToggleAnimatorDurationService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_animator_duration"
            android:label="@string/label_toggle_animator_duration_scale"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ToggleAnimationService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_animation"
            android:label="@string/label_toggle_all_animations"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- To take advantage of larger aspect ratio on devices like the S8 -->
        <!-- https://android-developers.googleblog.com/2017/03/update-your-app-to-take-advantage-of.html -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

    </application>


</manifest>
